<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Painel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content" style="display: flex; flex-direction: column; align-items: center; height: 100%;">
    <ion-row text-center class="logo">
      <ion-col col-12>
        <img style="height: 160px" src="assets/imgs/logo.png" />
      </ion-col>
    </ion-row>

    <div class="divider-logo"></div>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="4" (click)="navigation('feiras')">
          <ion-icon class="icon-size" name="map-outline"></ion-icon>
          <div>FEIRAS</div>
        </ion-col>

        <ion-col size="4" (click)="navigation('vendas')">
          <ion-icon class="icon-size" name="card-outline"></ion-icon>
          <div>VENDAS</div>
        </ion-col>

        <ion-col size="4" (click)="navigation('funcionarios')">
          <ion-icon class="icon-size" name="people-outline"></ion-icon>
          <div>FUNCIONÁRIOS</div>
        </ion-col>
      </ion-row>

      <div class="divider-menu"></div>

      <ion-row>
        <ion-col size="4" (click)="navigation('categorias')">
          <ion-icon class="icon-size" name="albums-outline"></ion-icon>
          <div>CATEGORIAS</div>
        </ion-col>

        <ion-col size="4" (click)="navigation('estoque')">
          <ion-icon class="icon-size" name="layers-outline"></ion-icon>
          <div>ESTOQUE</div>
        </ion-col>

        <ion-col size="4" (click)="navigation('horarios')">
          <ion-icon class="icon-size" name="alarm-outline"></ion-icon>
          <div>HORÁRIOS</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-label class="footer-text">Desenvolvido por FarTeck</ion-label>
    <ion-label class="footer-text">Versão 0.0.1.t</ion-label>

    <div class="divider-menu"></div>
  </div>
</ion-content>

<ion-modal [isOpen]="isModalFeirasOpened" [swipeToClose]="true" [presentingElement]="routerOutlet.nativeEl">
  <ng-template>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Feiras ao vivo</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">Fechar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
        <app-painel-feiras></app-painel-feiras>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isModalVendasOpened" [swipeToClose]="true" [presentingElement]="routerOutlet.nativeEl">
  <ng-template>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Vendas ao vivo</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">Fechar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
        <app-painel-vendas></app-painel-vendas>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isModalFuncionariosOpened" [swipeToClose]="true" [presentingElement]="routerOutlet.nativeEl">
  <ng-template>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Funcionários</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">Fechar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
        <app-painel-funcionarios></app-painel-funcionarios>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isModalCategoriasOpened" [swipeToClose]="true" [presentingElement]="routerOutlet.nativeEl">
  <ng-template>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Categorias</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">Fechar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
        <app-painel-categorias></app-painel-categorias>
    </ion-content>
  </ng-template>
</ion-modal>


<ion-modal [isOpen]="isModalEstoqueOpened" [swipeToClose]="true" [presentingElement]="routerOutlet.nativeEl">
  <ng-template>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Estoque ao vivo</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">Fechar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
        <app-painel-estoque></app-painel-estoque>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isModalHorariosOpened" [swipeToClose]="true" [presentingElement]="routerOutlet.nativeEl">
  <ng-template>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Horários</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">Fechar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
        <app-painel-horarios></app-painel-horarios>
    </ion-content>
  </ng-template>
</ion-modal>